{% extends 'gdb_base.html.twig' %}

{% block title %}About{% endblock %}

{% block main %}
	<div class="row" style="padding: 2rem;" id="base">
		<div class="col-12">
			<p>Made with <i class="fas fa-heart"></i> by Andrew SASSOYE for my web project at ESI under GNU Affero General Public License version 3 (https://opensource.org/licenses/AGPL-3.0)</p>
			<img src="https://www.he2b.be/images/logos/HE2B-Logo-ESI-300.png" width="300px" height="240px" alt="Haute école de Bruxelles"/>
		</div>
	</div>
{% endblock %}
