.content {
  height: calc(100% - 3.5rem);
  overflow-x: hidden;
  overflow-y: scroll;
  color: white;
  margin: 0;
  scrollbar-color: $dark;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: $primary;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark;

    &:hover {
      background: white;
    }
  }
}