article.game-content {
  padding-top: 1rem;

  h1.game-name {
    font-weight: bold;
    font-size: 2em;
    line-height: 0;
    text-transform: uppercase;
    user-select: text;
  }

  h3.game-release {
    font-weight: normal;
    font-size: 1em;
    line-height: 2rem;
    text-transform: uppercase;
  }

  p.badge-list {
    font-weight: bold;
    font-size: 13px;
    line-height: 0;
    margin-bottom: 0.5rem;
  }

  p.summary {
    margin-top: 1rem;
    text-align: justify;
    user-select: text;
  }
}